<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<main id="notes">

    <div class="input-group mb-3" style="width: 50vw; margin: 30px auto">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input v-model="note"  @keyup.enter="sendTask" type="text" class="form-control" placeholder="To do" aria-label="Username" aria-describedby="basic-addon1">
        <div class="input-group-prepend">
            <button @click="sendTask" class="btn btn-primary">Send</button>
        </div>
    </div>
    <section>
        <div v-for="(not, index) in notes" style="margin: 5px auto; display: flex; width: 50vw">
            <div     class="notes"
                     style="padding: 5px; width: 50vw;"
                     :key="index"
            >
                {{ not }}
            </div>
            <button @click="trashTask(index)" class="btn btn-danger">X</button>
        </div>

    </section>

</main>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script src="app.js"></script>
</html>